html,
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 70%;
    background-color: whitesmoke;
    margin: 0 auto;
}

header {
    padding: 20px;
}

header img {
    width: 100%;
}

nav {
    background-color: #facf58;
    padding: 30px 40px;
    text-align: center;
    font-size: 120%;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    font-family: fantasy;
    padding: 50px 50px;
    text-decoration: none;
}

nav a:hover {
    background-color: #fd6a02;
    font-size: 120%;
}

nav ul {
    padding: 0;
    margin: 0;
}

section {
    padding: 20px;
    overflow: auto;
}

section h1 {
    color: #fd6a02;
    font-size: 180%;
    font-family: fantasy;
}

footer {
    background-color: #facf58;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
    font-family: fantasy;
}

.tide {
    width: 30%;
    float: right;
}

.button {
    background-color: #fd6a02;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 10px;
    text-align: center;
}

a.button:hover {
    background-color: #facf58;
}
